/* Enter your Styles below! */


body { 
	font-family: rigid-square, sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style; normal;
	margin: 10px;
	padding: 15px;
	 }

h1, h2, h3, h4 {
	font-family: rigid-square, sans-serif;
	font-weight: 600;
	color: red;
	padding: 5px;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}

blockquote {
	margin: 20px 60px;
	font-family: rigid-square, sans-serif;
}

header {margin-bottom: 20px;}

footer {font-weight: 100;
		text-align: center;}

nav {
	font-family: rigid-square, sans-serif; 
	font-weight: 600; 
	font-style: normal;
	font-color:red;
	text-align: center;
	background: skyblue;
		margin: 20px;
		padding: 40px;
}
nav ul {
	list-style-type: none;
}
nav li {
	display: inline-block;
	margin-left: 60px;
}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

a { 
	color: red;
	text-decoration: none;
	 }
a:hover { color: black; }

button {
	background-color: gold;
	border: none;
	color: white;
	padding: 10px 30px;
	margin: 10px;
	text-align: center;
	text-decoration: underline;
	display: inline-block;
	font-size: 12px;
}

.slideshow {
	width: 100%;
	height: 400px;
	margin: 10px auto;
	outline: none;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
	width: 60%;
	margin: auto;
}

.grid div {
	background-color: #ccc;
	padding: 20px;
}

/*TYPEWRITER animation */
@-webkit-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: red }
}

@-moz-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: red }
}

body { font-family: rigid-square, sans-serif; }

h2 { 
    position: relative; 
    float: left;
    font-size:150%;
}

h2 span {
    position:absolute;
    top:0;
    right:0;
    width:0;
    background: rgba(255, 215, 0, .5); /* same as background */
    border-left: .1em solid black;
    
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    -webkit-animation: typing 6.5s steps(13, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 6.5s steps(13, end), /* # of steps = # of characters */
                        blink-caret .5s step-end infinite;
}

/*media queries SCREEN WIDTH SCALE*/
@media only screen and (min-width: 768px) {
	body {
		background-color: rgba(255, 215, 0, .5);
	}
	.grid {
		grid-template-columns: 1fr 1fr;
		width: 70%;
	}
}

@media only screen and (min-width: 1024px) {
	body {
		background-color: rgba(255, 215, 0, .5);
	}
}

@media only screen and (min-width: 1200px) {
	body {
		background-color: rgba(255, 215, 0, .5);
	}
}
/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/